<h1 class="text-center">Conditions Dashboard</h1>
</br>
<h3 class="text-center">Temperature</h3>


<table class="table" id='temp-table'>
  <thead>
    <tr>
      <th scope="col">Range</th>
      <th scope="col">Max # of Rides</th>
      <th scope="col">Min # of Rides</th>
      <th scope="col">Avg # of Rides</th>
    </tr>
  </thead>
  <tbody>
    <% @stats[:temp].each do |range_title, range_stats| %>
    <tr>
      <th scope="row"><%= range_title %></th>
      <td><%= range_stats[:max][:date] %> : <%= range_stats[:max][:count] %></td>
      <td><%= range_stats[:min][:date] %> : <%= range_stats[:min][:count] %></td>
      <td><%= range_stats[:avg][:count].round(2) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3 class="text-center">Precipitation</h3>
<table class="table" id='precip-table'>
  <thead>
    <tr>
      <th scope="col">Range</th>
      <th scope="col">Max # of Rides</th>
      <th scope="col">Min # of Rides</th>
      <th scope="col">Avg # of Rides</th>
    </tr>
  </thead>
  <tbody>
    <% @stats[:precip].each do |range_title, range_stats| %>
    <tr>
      <th scope="row"><%= range_title %></th>
      <td><%= range_stats[:max][:date] %> : <%= range_stats[:max][:count] %></td>
      <td><%= range_stats[:min][:date] %> : <%= range_stats[:min][:count] %></td>
      <td><%= range_stats[:avg][:count].round(2) %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<h3 class="text-center">Wind Speed</h3>
<table class="table" id='wind-table'>
  <thead>
    <tr>
      <th scope="col">Range</th>
      <th scope="col">Max # of Rides</th>
      <th scope="col">Min # of Rides</th>
      <th scope="col">Avg # of Rides</th>
    </tr>
  </thead>
  <tbody>
    <% @stats[:wind].each do |range_title, range_stats| %>
    <tr>
      <th scope="row"><%= range_title %></th>
      <td><%= range_stats[:max][:date] %> : <%= range_stats[:max][:count] %></td>
      <td><%= range_stats[:min][:date] %> : <%= range_stats[:min][:count] %></td>
      <td><%= range_stats[:avg][:count].round(2) %></td>
    </tr>
    <% end %>
  </tbody>
</table>


<h3 class="text-center">Visibility</h3>
<table class="table" id='vis-table'>
  <thead>
    <tr>
      <th scope="col">Range</th>
      <th scope="col">Max # of Rides</th>
      <th scope="col">Min # of Rides</th>
      <th scope="col">Avg # of Rides</th>
    </tr>
  </thead>
  <tbody>
    <% @stats[:vis].each do |range_title, range_stats| %>
    <tr>
      <th scope="row"><%= range_title %></th>
      <td><%= range_stats[:max][:date] %> : <%= range_stats[:max][:count] %></td>
      <td><%= range_stats[:min][:date] %> : <%= range_stats[:min][:count] %></td>
      <td><%= range_stats[:avg][:count].round(2) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
