<h1>All Conditions</h1>

<p><%= link_to 'Conditions Dashboard', conditions_dashboard_path %>

<% @conditions.each do |condition| %>
  <div class="condition">
    <h4><%= link_to "Date: #{condition.date}", condition_path(condition) %></h4>
      <ul class="condition-number-<%= condition.id %>">
        <li>Max Temperature: <%= condition.max_temperature %></li>
        <li>Mean Temperature: <%= condition.mean_temperature %></li>
        <li>Min Temperature: <%= condition.min_temperature %></li>
        <li>Mean Humidity: <%= condition.mean_humidity %></li>
        <li>Mean Visibility: <%= condition.mean_visibility %> mi</li>
        <li>Mean Wind Speed: <%= condition.mean_wind_speed %> mph</li>
        <li>Precipitation: <%= condition.precipitation %> in</li>
        <% if current_admin? %>
        <li><%= link_to 'Delete', admin_condition_path(condition), method: :delete%></li>
        <li><%= link_to 'Edit', edit_admin_condition_path(condition)  %></li>

        <% end %>
      </ul>
  </div>
<% end %>
