<h1>All Conditions</h1>

<% @conditions.each do |condition| %>
  <div class="condition">
    <h4>Date: <%= condition.date %></h4>
      <ul class="condition-number-<%= condition.id %>">
        <li>Max Temperature: <%= condition.max_temperature %></li>
        <li>Mean Temperature: <%= condition.mean_temperature %></li>
        <li>Min Temperature: <%= condition.min_temperature %></li>
        <li>Mean Humidity: <%= condition.mean_humidity %></li>
        <li>Mean Visibility: <%= condition.mean_visibility %></li>
        <li>Mean Wind Speed: <%= condition.mean_wind_speed %></li>
        <li>Precipitation: <%= condition.precipitation %></li>
      </ul>
  </div>
<% end %>
