<h1>All Conditions</h1>

<p><%= link_to 'Conditions Dashboard', conditions_dashboard_path %></p>

<% if current_admin? %>
  <p><%= link_to 'Create New Condition', new_admin_condition_path %></p>
<% end %>




<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Max Temperature</th>
      <th scope="col">Mean Temperature</th>
      <th scope="col">Min Temperature</th>
      <th scope="col">Mean Humidity</th>
      <th scope="col">Mean Visibility</th>
      <th scope="col">Mean Wind Speed</th>
      <th scope="col">Precipitation</th>
    </tr>
  </thead>

  <tbody>
    <% @conditions.each do |condition| %>
    <tr id="condition-<%= condition.id %>">
      <th scope="row"><%= link_to "Date: #{condition.date}", condition_path(condition) %></th>
      <td><%= condition.max_temperature %></td>
      <td><%= condition.mean_temperature %></td>
      <td><%= condition.min_temperature %></td>
      <td><%= condition.mean_humidity %></td>
      <td><%= condition.mean_visibility %> mi</td>
      <td><%= condition.mean_wind_speed %> mph</td>
      <td><%= condition.precipitation %> in</td>
      <% if current_admin? %>
      <td><%= link_to 'Delete', admin_condition_path(condition), method: :delete%></td>
      <td><%= link_to 'Edit', edit_admin_condition_path(condition)  %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
