<h1 class='text-center'>Conditions for <%= @condition.date %> </h1>
<hr>
<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">

      <ul class="list-group">
        <li class="list-group-item">Max Temperature: <%= @condition.max_temperature %></li>
        <li class="list-group-item">Mean Temperature: <%= @condition.mean_temperature %></li>
        <li class="list-group-item">Min Temperature: <%= @condition.min_temperature %></li>
        <li class="list-group-item">Mean Humidity: <%= @condition.mean_humidity %></li>
        <li class="list-group-item">Mean Visibility: <%= @condition.mean_visibility %> mi</li>
        <li class="list-group-item">Mean Wind Speed: <%= @condition.mean_wind_speed %> mph</li>
        <li class="list-group-item">Precipitation: <%= @condition.precipitation %> in</li>
        <% if current_admin? %>
          <li class="list-group-item"><%= link_to 'Delete', admin_condition_path(@condition), method: :delete %></li>
          <li class="list-group-item"><%= link_to 'Edit', edit_admin_condition_path(@condition) %></li>
        <% end %>
        <li class="list-group-item"><%= link_to "Return to All Conditions Page", conditions_path %></li>
      </ul>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
