<h1>Conditions for <%= @condition.date %> </h1>

<ul>
  <li>Max Temperature: <%= @condition.max_temperature %></li>
  <li>Mean Temperature: <%= @condition.mean_temperature %></li>
  <li>Min Temperature: <%= @condition.min_temperature %></li>
  <li>Mean Humidity: <%= @condition.mean_humidity %></li>
  <li>Mean Visibility: <%= @condition.mean_visibility %> mi</li>
  <li>Mean Wind Speed: <%= @condition.mean_wind_speed %> mph</li>
  <li>Precipitation: <%= @condition.precipitation %> in</li>
</ul>

<%= link_to "Return to All Conditions Page", conditions_path %>
