<h1>Trip Dashboard</h1>
<h2>Average Trip Duration: <%= @average_duration.round(2) %></h2>
<p><%= link_to 'Back to Trips Index', trips_path %></p>
<ul>
  <strong><li>Longest Rides:</li></strong>
  <% @longest_ride.each do |ride| %>
    <li>Longest Ride: Trip <%= ride.id %> - <%= ride.start_date.strftime("%F") %> - <%= ride.duration %> Seconds</li>
    <% end %>
</ul>

<ul>
 <strong><li>Shortest Rides:</li></strong>
  <% @shortest_ride.each do |ride| %>
    <li>Shortest Ride: Trip <%= ride.id %> - <%= ride.start_date.strftime("%F") %> - <%= ride.duration %> Seconds</li>
    <% end %>
</ul>

<p>Most Popular Start Location: <%= @most_popular_start_station %></p>
<p>Most Popular End Location: <%= @most_popular_end_station %></p>

<ul>
  <strong><li>Rides by Month Year: </li></strong>
  <% @grouped_by_month_year.each do |date, count| %>
  <li><%= date.strftime("%b-%Y")%>: <%= count %></li>
<% end %>
</ul>

<ul>
  <strong><li>Rides by Year: </li></strong>
  <% @grouped_by_year.each do |date, count| %>
  <li><%= date.strftime("%Y")%>: <%= count %></li>
<% end %>
</ul>

<p>Most Ridden Bike: <%= @most_ridden_bike.bike_id %> - Rides: <%= @most_ridden_bike.count %></p>
<p>Least Ridden Bike: <%= @least_ridden_bike.bike_id %> - Rides: <%= @least_ridden_bike.count %></p>

<ul>
  <strong><li>Distribution by Subscriber</li></strong>
  <% @distribution_by_subscriber.each do |subscription_group| %>
    <li><%= subscription_group.subscription_type.capitalize %>: <%= subscription_group.percentage %>%</li>
    <% end %>
</ul>

<h3>Most Popular Day: <%= @max_day.day.strftime("%F") %>: <%= @max_day.count %></h3>
  <ul>
    <li>Max Temperature: <%= @max_day_weather.max_temperature %></li>
    <li>Mean Temperature: <%= @max_day_weather.mean_temperature %></li>
    <li>Min Temperature: <%= @max_day_weather.min_temperature %></li>
    <li>Mean Humidity: <%= @max_day_weather.mean_humidity %></li>
    <li>Mean Visibility: <%= @max_day_weather.mean_visibility %></li>
    <li>Mean Wind Speed: <%= @max_day_weather.mean_wind_speed %></li>
    <li>Precipitation: <%= @max_day_weather.precipitation %></li>
  </ul>
<h3>Least Popular Day: <%= @min_day.day.strftime("%F") %>: <%= @min_day.count %></h3>
  <ul>
    <li>Max Temperature: <%= @min_day_weather.max_temperature %></li>
    <li>Mean Temperature: <%= @min_day_weather.mean_temperature %></li>
    <li>Min Temperature: <%= @min_day_weather.min_temperature %></li>
    <li>Mean Humidity: <%= @min_day_weather.mean_humidity %></li>
    <li>Mean Visibility: <%= @min_day_weather.mean_visibility %></li>
    <li>Mean Wind Speed: <%= @min_day_weather.mean_wind_speed %></li>
    <li>Precipitation: <%= @min_day_weather.precipitation %></li>
  </ul>
