<h3> Stations Dashboard </h3>

<ul>
  <li> Total count of stations: <%= @stations_count %></li>
  <li> Average bikes available per station: <%= @average_docks %></li>
  <li> Station(s) with most bikes available: <%= @station_max_bikes %> with <%= @max_bikes %> Bikes </li>
  <li> Station(s) with fewest bikes available: <%= @station_min_bikes %> with <%= @min_bikes %> Bikes </li>
  <li> Most recently installed station: <%= @newest_station %></li>
  <li> Oldest station: <%= @oldest_station %></li>
</ul> 