<h1>All Stations</h1>

<p><%= link_to "Stations Dashboard", stations_dashboard_path %>

<ul id="stations">
  <% @stations.each do |station| %>
    <li>
      Station: <%= link_to station.name, station_path(station), class: 'stations-name' %>
      Dock Count: <%= station.dock_count %>
      City: <%= station.city %>
      Installed: <%= station.installation_date %>
      <% if current_admin? %>
        <%= link_to 'Edit' %>
        <%= link_to 'Delete' %>
      <% end %>
    </li>
  <% end %>
</ul>
