<h1 class='text-center'><%= @station.name %></h1>

<p class='text-center'><%= link_to "Back to All Stations", stations_path %></p>

<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-12">
      <table class="table">
        <tbody>
          <tr id="dock-count">
            <td>Dock Count</td>
            <td><%= @station.dock_count %></td>
          </tr>
          <tr>
            <td>City</td>
            <td><%= @station.city %></td>
          </tr>
          <tr>
            <td>Date of Installation</td>
            <td><%= @station.installation_date %></td>
          </tr>
          <% if current_user? %>
          <tr id='rides-started'>
            <td>Number of rides started at this station</td>
            <td><%= @station.rides_started %></td>
          </tr>
          <tr id='rides-ended'>
            <td>Number of rides ended at this station</td>
            <td><%= @station.rides_ended %></td>
          </tr>
          <tr id='most-frequent-destination'>
            <td>Most frequent destination station</td>
            <td><%= @station.most_trips_to %></td>
          </tr>
          <tr id='most-frequent-origination'>
            <td>Most frequent origination station</td>
            <td><%= @station.most_trips_from %></td>
          </tr>
          <tr id='highest-date'>
            <td>Date with the highest number of trips started at this station</td>
            <td><%= @station.date_with_highest_number.strftime("%F") unless @station.date_with_highest_number.nil? %> </td>
          </tr>
          <tr id='frequent-zip'>
            <td>Most frequent zip code for users starting trips at this station</td>
            <td><%= @station.frequent_zip_code %></td>
          </tr>
          <tr id='frequent-bike'>
            <td>Bike ID most frequently starting a trip at this station</td>
            <td> <%= @station.frequent_bike_id %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <% if current_admin? %>
        <%= link_to 'Edit', edit_admin_station_path(@station) %>
        <%= link_to 'Delete', admin_station_path(@station), method: :delete %>
      <% end %>

    </div>
    <div class="col-sm"></div>
  </div>
</div>
