<h2>Edit Order <%= @order.id %> </h2>

<%= form_for [:admin, @order] do |f| %>
  <%= f.label :status %>
  <%= f.select :status, options_for_select(["Ordered", "Completed", "Paid", "Canceled"]) %>
  <%= f.submit 'Submit' %>
<% end %>

