<h1>Bike Accessories</h1>

<p><%= link_to 'Create A New Accessory', admin_bike_shop_new_path %></p>

<% @accessories.each do |item| %>
  <div id="accessory-<%= item.id %>">

  <%= image_tag(item.image)  %>
  <%= link_to item.title, accessory_path(item.id) %>
  <%= button_to 'Add to Cart', carts_path(accessory_id: item.id, do: 'add') unless item.retired? %>
  <%= 'Accessory retired' if item.retired? %>
  <%= link_to "Edit", edit_admin_accessory_path(item) %>
  </div>
<% end %>
