<h4>Name: <%= current_user.name %></h4>
<h4>Current Email: <%= current_user.email %></h4>
<h4>Current Address: <%= current_user.address %></h4>
<p><%= link_to "Edit Profile Information", edit_user_path(@user) %>

<h4>All Orders: </h4>
<% @orders.each do |order| %>
  <p><%= link_to "Order Number: #{order.id}", order_path(order)%></p>
<% end %>