<h2>Order <%= @order.id %> Details</h2>

<% @accessories.each do |accessory, values_hash| %>
  <div class="accessory-<%= accessory.id %>">
    <h3><%= accessory.title %></h3>
    <ul>
      <li>Subtotal: <%= number_to_currency(values_hash['subtotal']) %></li>
      <li>Quantity: <%= values_hash['count'] %></li>
    </ul>
  </div>
<% end %>

<h4>Order Total:</h4> <%= number_to_currency(@order.total) %>

<h4>Status:</h4> <%= @order.status %>
<h4>Created:</h4> <%= @order.created_at %>
<h4>Updated:</h4> <%= @order.updated_at %>

<% if current_admin? %>
  <ul>
    <li><%= @order.user.name %></li>
    <li><%= @order.user.address %></li>
  </ul>

<% end %>
