<h2>Trip No. <%= @trip.id %></h1>

<p><%= link_to "Back to All Trips", trips_path %>

<ul>
  <li>Duration: <%= @trip.duration %></li>
  <li>Start Date: <%= @trip.start_date%></li>
  <li>Start Station: <%= @trip.start_station.name %></li>
  <li>End Date: <%= @trip.end_date %></li>
  <li>End Station: <%= @trip.end_station.name %></li>
  <li>Bike ID: <%= @trip.bike_id %></li>
  <li>Subscription Type: <%= @trip.subscription_type%></li>
  <li>Zip Code: <%= @trip.zip_code%></li>
</ul>

<p><%= link_to "Edit", edit_admin_trip_path(@trip) %>
<p><%= link_to "Delete", admin_trip_path(@trip), method: :destroy %>
