<h1>Cart Items</h1>

  <table style="width:100%">
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Sub-Total</th>
    <th>Delete</th>
  </tr>
<% @new_hash.each do |item, count| %>
  <tr>
  <td> <%= item.title %></td>
  <td>price: <%= item.price %></td>
  <td> <%= link_to '+', carts_path(accessory_id: item), method: :post %></td>
  <td> <%= count %></td>

  <td> <%= (item.price * count) %></td>
  <td> <%= link_to 'Remove', carts_path(accessory_id: item), method: :delete %></td>
  </tr>
<% end %>
</tr>
  </table>
  <td><%= @total %></td>
