<h1>Cart Items</h1>

  <table style="width:100%">
  <tr>
    <th></th>
    <th>Item</th>
    <th></th>
    <th></th>
    <th>Quantity</th>
    <th></th>
    <th>Sub-Total</th>
    <th>Delete</th>
  </tr>
<% @items.each do |item, values_hash| %>
  <tr id="accessory-<%= item.id %>">
    <td><%= image_tag(item.image, :size => "100x67") %>
    <td> <%= item.title %></td>
    <td>Price: <%= item.price %></td>
    <td> <%= button_to '-', carts_path(accessory_id: item.id, do: 'subtract'), method: :put %></td>
    <td>Count: <%= values_hash['count'] %></td>
    <td> <%= button_to '+', carts_path(accessory_id: item.id, do: 'add'), method: :put %></td>
    <td> <%= number_to_currency(values_hash['subtotal'])%></td>
    <td> <%= link_to 'Remove', carts_path(accessory_id: item.id), method: :delete %></td>
  </tr>
<% end %>
<br>
</tr>
  </table>
  <td>Total: <%= number_to_currency(@total) %></td>

<h3><%= link_to "Checkout", orders_path, method: :post %> </h3>
