<h1>Cart Items</h1>

  <table style="width:100%">
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Sub-Total</th>
    <th>Delete</th>
  </tr>
<% @items.each do |item, values_hash| %>
  <tr id="accessory-<%= item.id %>">
  <td> <%= item.title %></td>
  <td>price: <%= item.price %></td>
  <td> <%= link_to '+', carts_path(accessory_id: item.id, do: 'add'), method: :put %></td>
  <td>count: <%= values_hash['count'] %></td>
  <td> <%= link_to '-', carts_path(accessory_id: item.id, do: 'subtract'), method: :put %></td>
  <td> <%= number_to_currency(values_hash['subtotal'])%></td>
  <td> <%= link_to 'Remove', carts_path(accessory_id: item.id), method: :delete %></td>
  </tr>
<% end %>
</tr>
  </table>
  <td><%= @total %></td>
  <%= link_to 'Checkout', user_orders_path(current_user) %>
