<h1>Admin Dashboard</h1>


<h4>Name: <%= current_user.name %></h4>
<h4>Current Email: <%= current_user.email %></h4>

<h4>Orders by Status</h4>
<p>Ordered: <%= @ordered_count %> </p>
<p>Paid: <%= @paid_count %> </p>
<p>Cancelled: <%= @cancelled_count%> </p>
<p>Completed: <%= @completed_count%> </p>

<h4>All Orders</h4>
<ul>
  <% @orders.each do |order| %>
  <li>Order Number <%= order.id %></li>
  <% end %>
</ul>

<h4><%= link_to 'All Accessories', admin_bike_shop_path %></h4>

<% @accessories.each do |accessory| %>
  <tr>
    <td><%= accessory.image %></td>
    <td>Title: <%= accessory.title %></td>
    <td>Description: <%= accessory.description %></td>
    <td>Status: <%= accessory.status %></td>
    <td><%= link_to "Edit", edit_admin_accessory_path(accessory) %></td>
  </tr>
<% end %>
