<!DOCTYPE html>
<html>
  <head>
    <title>BikeShare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <header class="header">
      </header>
    <% if current_admin? %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="navbar-nav mr-auto">
          <%= link_to image_tag("bikeshare_icon.png", class: "logo d-inline-block align-top"), root_path %>
          <%= link_to 'Home', root_path, class: "nav-link" %>
          <%= link_to 'Profile', admin_dashboard_path, class: "nav-link" %>
          <%= link_to 'Bike Shop', bike_shop_path, class: "nav-link" %>
          <%= link_to 'All Stations', stations_path, class: "nav-link" %>
          <%= link_to 'All Trips', trips_path, class: "nav-link" %>
          <%= link_to 'Conditions', conditions_path, class: "nav-link" %>
        </div>
        <div class="navbar-nav ml-auto">
          <%= "Logged in as #{current_user.name}" %> | <%= link_to 'Log Out', logout_path, method: :delete %>
          <%= link_to 'Cart: ', carts_path, class: "nav-link", id: "Cart-Header" %><%= @cart.total_count %>
        </div>
      </nav>
    <% elsif current_user %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="navbar-nav mr-auto">
          <%= link_to image_tag("bikeshare_icon.png", class: "logo d-inline-block align-top"), root_path %>
          <%= link_to 'Home', root_path, class: "nav-link" %>
          <%= link_to 'Profile', dashboard_path, class: "nav-link" %>
          <%= link_to 'Bike Shop', bike_shop_path, class: "nav-link" %>
          <%= link_to 'All Stations', stations_path, class: "nav-link" %>
          <%= link_to 'All Trips', trips_path, class: "nav-link" %>
          <%= link_to 'Conditions', conditions_path, class: "nav-link" %>
        </div>
        <div class="navbar-nav ml-auto">
          <%= "Logged in as #{current_user.name}" %> | <%= link_to 'Log Out', logout_path, method: :delete %>
          <%= link_to 'Cart: ', carts_path, class: "nav-link", id: "Cart-Header" %><%= @cart.total_count %>
        </div>
      </nav>
    <% else %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="navbar-nav mr-auto">
          <%= link_to image_tag("bikeshare_icon.png", class: "logo d-inline-block align-top"), root_path %>
          <%= link_to 'Home', root_path, class: "nav-link" %>
          <%= link_to 'Bike Shop', bike_shop_path, class: "nav-link" %>
          <%= link_to 'All Stations', stations_path, class: "nav-link" %>
          <%= link_to 'All Trips', trips_path, class: "nav-link" %>
          <%= link_to 'Conditions', conditions_path, class: "nav-link" %>
        </div>
        <div class="navbar-nav ml-auto">
          <%= "Logged in as #{current_user.name}" %> | <%= link_to 'Log Out', logout_path, method: :delete %>
          <%= link_to 'Cart: ', carts_path, class: "nav-link", id: "Cart-Header" %><%= @cart.total_count %>
        </div>
      </nav>
    <% end %>
    <hr>
    <% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: type %>
    <% end %>

    <%= yield %>
  </body>
</html>
