<!DOCTYPE html>
<html>
  <head>
    <title>BikeShare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
      <header class="header">
      </header>
    <% if current_admin? %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
          <%= link_to image_tag("bikeshare_icon.png", class: "logo d-inline-block align-top"), root_path %>
          <%= link_to 'Home', root_path, class: "nav-link" %>
          <%= link_to 'Profile', admin_dashboard_path, class: "nav-link" %>
          <%= link_to 'Bike Shop', bike_shop_path, class: "nav-link" %>
          <%= link_to 'All Stations', stations_path, class: "nav-link" %>
          <%= link_to 'All Trips', trips_path, class: "nav-link" %>
          <%= link_to 'Conditions', conditions_path, class: "nav-link" %>
          <%= "Logged in as #{current_user.name}" %> | <%= link_to 'Log Out', logout_path, method: :delete %>
          <%= link_to 'Cart: ', carts_path, class: "nav-link", id: "Cart-Header" %><%= @cart.total_count %>
        </ul>
      </nav>



        <% elsif current_user %>
          <ul>
            <li><%= "Logged in as #{current_user.name}" %> | <%= link_to 'Log Out', logout_path, method: :delete %></li>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Profile', dashboard_path %></li>
            <li><%= link_to 'Bike Shop', bike_shop_path %></li>
            <li><%= link_to 'All Stations', stations_path %>
            <li><%= link_to 'All Trips', trips_path %>
            <li><%= link_to 'Conditions', conditions_path %>
            <li id="Cart-Header"><%= link_to 'Cart: ', carts_path %><%= @cart.total_count %></li>
        <% else %>
          <ul>
            <li> <%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', new_user_path %></li>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Bike Shop', bike_shop_path %>
            <li><%= link_to 'All Stations', stations_path %>
            <li><%= link_to 'All Trips', trips_path %>
            <li><%= link_to 'Conditions', conditions_path %>
            <li id="Cart-Header"> <%= link_to 'Cart: ', carts_path %><%= @cart.total_count %></li>
        <% end %>

    <hr>
<% flash.each do |type, message| %>
  <%= content_tag :div, message.html_safe, class: type %>
<% end %>

    <%= yield %>
  </body>
</html>
